button {
  border: 0;
  outline: none;
  background: #fff;
  font-size: inherit;
  padding: 0;
}

.btn {
  padding: 5px 10px;
  margin: 0 0 3px 0;
  border: 1px solid;
  cursor: pointer;
}

.btn:hover {
  border: 1px dotted;
}

.btn--pink {

  &[aria-pressed="true"] {
    background: lighten(@pink, 25%);
  }
}

.btn--red {

  &[aria-pressed="true"] {
    background: lighten(@red, 20%);
  }
}

.btn--orange {

  &[aria-pressed="true"] {
    background: lighten(@orange, 18%);
  }
}

.btn--yellow {

  &[aria-pressed="true"] {
    background: lighten(@yellow, 23%);
  }
}

.btn--green {

  &[aria-pressed="true"] {
    background: lighten(@green, 35%);
  }
}

.btn--teal {

  &[aria-pressed="true"] {
    background: lighten(@teal, 29%);
  }
}

.btn--blue {

  &[aria-pressed="true"] {
    background: @sky-blue;
  }
}

.btn--purple {

  &[aria-pressed="true"] {
    background: lighten(@purple, 22%);
  }
}